.dropdownbutton {
  max-width: 10rem;
  max-height: 3rem;
  min-height: 2.5rem;
  margin: 1rem 0rem 1rem 0rem;
  color: grey;
  background-color: white;
  border-color: grey;
}

.datepickcontainer {
  max-width: 10rem;
  max-height: 3rem;
  min-height: 2.5rem;
  margin: 1rem 0 1rem 0;
  color: grey;
}

.inputbox {
  min-height: 2.5rem;
  max-width: 17rem;
  margin: 1rem 0rem 1rem 0rem;
  color: grey;
  background-color: white;
  border-color: grey;
}

.searchbox {
  min-height: 2.5rem;
  max-width: 8rem;
  margin: 1rem 1rem 1rem 0rem;
}

.filterbox {
  background-color: white;
  border-radius: 15px;
  box-shadow: none;
  border: none;
  background-color: white;
}

.tablebox {
  background-color: white;
  border-radius: 15px;
  box-shadow: none;
  border: none;
  background-color: white;
  height: 20rem;
}

.listviewbox {
  height: 45rem;
  padding: 0.5rem 1rem 1rem 1rem;
  background-color: #f5f5f5;
}

.totalbox {
  margin: 0 0 0 1rem;
}
